.NODE{
    width: 20vw;
    height: 27vh;
    border: 2px solid;
    border-color: rgb(140, 140, 140);
    background-color:  rgb(36, 35, 35);
    margin: 1vw;
    display: flex;
    flex-direction: row;
}

.NODE_INFO{
    position: relative;
    float: right;
    margin-top: .2vh;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border: 1px solid white;
    width: 50px;
}
.UI_BUTTON{
    padding: 32px 32px;
    position: absolute;

}

.background{
    background-color: rgb(36, 35, 35);
}
.NODE_TEXT{
    margin: 4px;
    font-weight: bold;
    font-family: monospace;
    color: rgb(200, 200, 200);
    font-size: 1.0vw;
}
.NODE_TEXT_LABEL{
    color: rgb(140, 140, 140);
    font-family:monospace;
    font-size: .9vw;
    font-weight: bolder;
    text-decoration-line:underline;
}
.instruction_input{
    font-size: 1.25vw;
    resize: none;
    height: 25vh;
    width: 14vw;
    margin: 6px;
    font-family:monospace;
    background-color: rgb(36, 35, 35);
    color: rgb(200, 200, 200);
}
.arrow-up {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black; /* Adjust thickness and color as needed */
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid black; /* Adjust thickness and color as needed */
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black; /* Adjust thickness and color as needed */
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid black; /* Adjust thickness and color as needed */
}
.INSTRUCTION_HOLDER{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1vh;
    margin-bottom: .1vh;
}
.INSTRUCTION_CODE_LINE{
    /* Preserve line breaks */
    width: 70%;
    height: 1.5VH;
    margin-left: 2.5vw;
    min-height: 1.0em; /* Minimum height to show empty lines */
    cursor: text; 
    font-size: 1.0vw;
    color: rgb(200, 200, 200);
    border: 1px solid  rgb(140, 140, 140);
    text-transform: uppercase;
    font-family: monospace;
}
#NODE_TABLE{
    margin-left: 15vw;
}
#STEP_BUTTON{
    margin-top: 80vh;
    margin-left: .2vw;
}
#STOP_BUTTON{
    margin-top: 80vh;
    margin-left: 8vw; 
}
#CLEAR_BUTTON{
    background-color: rgb(152, 50, 50);
}
